devMode=DEV
DEV={"host":"192.168.1.218","user":"dbadmin","pass":"87252798","appkey":"609388a15b3dfaca","masterkey":"1292b2d414d45c8f97d44354de24c40c"}
STAGING={"host":"127.0.0.1","user":"dbadmin","pass":"87252798","appkey":"a81bc1bb16bc23bb","masterkey":"3fc4c39d3e59b33b67bcbc359d31e7ee"}
PRODUCT={"host":"10.10.189.166","user":"dbadmin","pass":"87252798","appkey":"08d7b0fa132b2990","masterkey":"6026a8e2264e94f8b8dcb57a7b428990"}

DEV_DB={"api":"gr_api","erp":"gr_erp","ec":"gr_ec"}
STAGING_DB={"api":"gr_api","erp":"gr_erp","ec":"gr_ec"}
PRODUCT_DB={"api":"gr_api","erp":"gr_erp","ec":"gr_ec"}